<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myfirstapp.dhruv.myfirstapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".displayfirstsubs"
            android:label="@string/title_activity_displayfirstsubs"
            android:parentActivityName=".semester" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myfirstapp.dhruv.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name=".webviewactivity"
            android:label="@string/title_activity_webviewactivity"
            android:parentActivityName=".displayfirstsubs">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myfirstapp.dhruv.myfirstapp.displayfirstsubs" />
        </activity>
        <activity
            android:name=".semester"
            android:label="@string/title_activity_semester"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myfirstapp.dhruv.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name=".displaysecondsubs"
            android:label="@string/title_activity_displaysecondsubs"
            android:parentActivityName=".semester" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myfirstapp.dhruv.myfirstapp.semester" />
        </activity>
    </application>

</manifest>
